* {
    font-family: "Roboto Slab", serif;
}

.review-star-box {
    border-bottom: 1px solid #e2e2e2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.feedback-box {
    border: none;
    border: 1px solid rgb(206, 206, 206);
}

.input-bg {
    border: none;
    border: 1px solid rgb(206, 206, 206);
}

/* signup signin styles */
.auth-input {
    border: none;
    border: 1px solid rgb(211, 211, 211);
}
.auth-input:focus {
    outline: none;
    border-color: #E85D26;
}

/* navbar styles */
.create-shop-btn {
    border: 1px solid rgb(99, 99, 99);
}

@media (min-width: 350px) and (max-width: 650px) {
    .review-form-nav {
        flex-direction: column;
        align-items: center;
    }
    .manager-contact {
        text-align: center;
    }
    .review-form {
        width: 90%;
        height: 700px;
    }
    .name-phone-container {
        flex-direction: column;
        gap: 20px;
    }
    .input-container {
        width: 100%;
    }
    .name-phone-container input {
        width: 100% ;
    }
    .copyright-text {
        margin-top: 20px;
    }
    .manager-contact {
        font-size: 1rem;
        margin-top: 5px;
    }

    /* signup and signin styles */
    .auth-outerform {
        width: 90%;
        margin: auto;
    }
    .auth-innerdiv {
        width: 80%;
    }
    .navbar-div {
        flex-direction: column;
        text-align: center;
    }
    .nav-btns {
        flex-direction: column;
        text-align: center;
        gap: 8px;
        margin-top: 20px;
    }
}
