* {
    font-family: "Roboto Slab", serif;
}

.review-star-box {
    border-bottom: 1px solid #e2e2e2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.feedback-box {
    border: none;
    border: 1px solid rgb(206, 206, 206);
}

.input-bg {
    border: none;
    border: 1px solid rgb(206, 206, 206);
}

@media (min-width: 350px) and (max-width: 650px) {
    .review-form-nav {
        flex-direction: column;
        align-items: center;
    }
    .manager-contact {
        text-align: center;
    }
    .review-form {
        width: 90%;
        height: 700px;
    }
    .name-phone-container {
        flex-direction: column;
        gap: 20px;
    }
    .input-container {
        width: 100%;
    }
    .name-phone-container input {
        width: 100% ;
    }
}